.textInput {
--short: 20px;
--long: 200px;

  text-align: center;
  padding: 5px;
  border-radius: calc(var(--round) / 2);
  outline: none;
  font-size: var(--default-font-size);
  border: 2px solid var(--leaf-color);
  letter-spacing: 0.3px;
  height: var(--short);
  width: var(--long);
}

.textInput:focus {
  border: 2px solid var(--accent-color);
}

.textInput:disabled {
  border: 0;
  background-color: var(--leaf-color-lighter);
  -webkit-text-fill-color: var(--black);
  opacity: 1; /* required on iOS */
}

.textInput::placeholder {
  color: #ddd;
}

.isVertical {
  width: var(--short);
  height: var(--long);
}