.textInput {
  text-align: center;
  padding: 5px;
  width: 120px;
  border-radius: calc(var(--round) / 2);
  outline: none;
  font-size: 14px;
  border: 2px solid var(--leaf-color);
}

.textInput:focus {
  border: 2px solid var(--accent-color);
}

.textInput:disabled {
  border: 0;
  background-color: var(--white);
}

.textInput::placeholder {
  color: #ddd;
}