.textInput {
  text-align: center;
  padding: 5px;
  border-radius: calc(var(--round) / 2);
  outline: none;
  font-size: var(--default-font-size);
  border: 2px solid var(--leaf-color);
  letter-spacing: 0.3px;
}

.textInput:focus {
  border: 2px solid var(--accent-color);
}

.textInput:disabled {
  border: 0;
  background-color: var(--leaf-color-lighter);
}

.textInput::placeholder {
  color: #ddd;
}