.buttonContainer {
  margin-bottom: 20px;
  text-align: center;
}

.centerContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.cloverContainer {
  display: grid;
  gap: 15px;
  grid-template-columns: min-content calc(var(--leaf-size) * 2 + 12px) min-content;
  grid-template-rows: min-content calc(var(--leaf-size) * 2 + 12px) min-content;
  text-align: center;
}

.rotationAnimation {
  transition: 0.1s all;
  transform: rotate(90deg);
}

/* .ccw {
  transform: rotate(-90deg);
} */

.leavesContainer {
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.leafContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cw {
  /* transform: rotate(-90deg); */
}

.verticalText {
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.leafBank {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.leavesContainer {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.iconContainer {
  pointer-events: none;
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2s opacity;
}

.showIcon {
  opacity: 1;
  transition: 0s opacity;
  transform: translate(-50%, -50%) rotate(30deg);
  transform-origin: center center;
}

.noModify {
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .cloverContainer {
    gap: 5px;
  }
  .leavesContainer {
    gap: 5px;
  }
  .leafBank {
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
  }
  .buttonContainer {
    margin-bottom: 10px;
  }
}