.buttonContainer {
  margin-bottom: 20px;
}

.centerContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.cloverContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: 30px calc(var(--leaf-size) * 2 + 12px) 30px;
  grid-template-rows: 30px calc(var(--leaf-size) * 2 + 12px) 30px;
  text-align: center;
}

.rotationAnimation {
  transition: 0.1s all;
  transform: rotate(90deg);
}

.ccw {
  transform: rotate(-90deg);
}

.leavesContainer {
  height: var(--leaf-size);
  width: var(--leaf-size);
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.leafContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cw {
  transform: rotate(-90deg);
}

.verticalText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leafBank {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.leavesContainer {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.iconContainer {
  pointer-events: none;
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2s opacity;
}

.showIcon {
  opacity: 1;
  transition: 0s opacity;
  transform: translate(-50%, -50%) rotate(30deg);
  transform-origin: center center;
}

.noModify {
  pointer-events: none;
}