.leafContainer {
  display: grid;
  grid-template-columns: var(--text-height) 1fr var(--text-height);
  grid-template-rows: var(--text-height) 1fr var(--text-height);
  align-items: center;
  justify-items: center;
  height: var(--leaf-size);
  width: var(--leaf-size);
  position: relative;
  background-color: var(--leaf-color);
  font-size: 11px;
  white-space: nowrap;
  border-radius: var(--round);
  text-transform: uppercase;
  box-shadow: 0 2px 0 0 var(--accent-color);
}

.rotationAnimation {
  transform: rotate(90deg);
  transition: 0.1s linear;
}

.isDragging {
  z-index: 99;
  box-shadow: 
    0 2px 0 0 var(--accent-color),
    0 5px 10px 0 rgba(0,0,0,0.5);
  cursor: move !important; /* fallback if grab cursor is unsupported */
  cursor: grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: -webkit-grabbing !important;
}

.rotationAnimationCcw {
  transform: rotate(-90deg);
  transition: 0.1s linear;
}

.leafContainer:hover {
  cursor: pointer;
}

.top,
.bottom {
  grid-column: 2 / span 1;
  user-select: none;
  -webkit-user-select: none;
}

.top {
  grid-row: 1;
}

.bottom {
  grid-row: 3;
}

.right,
.left {
  user-select: none;
  -webkit-user-select: none;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  grid-row: 2 / span 1;
}

.right {
  grid-column: 3;
}

.left {
  grid-column: 1;
}

.center {
  grid-column: 2;
  grid-row: 2;
  transition: 0.1s all ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--leaf-color-light);
  border-radius: calc(var(--round) / 2);
  box-shadow:  0 2px 0 0 inset var(--accent-color);
}

.icon {
  opacity: 0;
  transition: 0.2s opacity;
  position: absolute;
  top: 0;
  left: 0;
}

.cwIcon {
  opacity: 0;
  transition: 0.2s opacity;
  position: absolute;
  top: 0;
  transform: scaleX(-1);
  left: 0;
}

.hFlipped {
  transform-origin: center center;
  transform: scaleX(-1);
}

.iconContainer {
  width: 50px;
  position: relative;
  display: block;
  height: 50px;
}

.showIconCw {
  opacity: 1 !important;
  transition: 0s opacity;
}

.showIconCcw {
  opacity: 1 !important;
  transition: 0s opacity;
}
