.leafPlaceholder {
  width: var(--leaf-size);
  height: var(--leaf-size);
  border: 2px solid transparent;
  border-radius: calc(var(--round) + 2px);
  user-select: none;
  -webkit-user-select: none;
}

.noLeaf {
  border: 2px dashed #ccc;
}

.isOver {
  border: 2px dashed #000;
}

.isActive {
  z-index: 99;
}