

body {
  --clover-size: 320px;
  --leaf-size: 140px;
  --round: 10px;
  --text-height: 22px;

  --leaf-color-lighter: #e9f1c5;
  --leaf-color-light: #c7e85b;
  --leaf-color: #bada55;
  --leaf-color-dark: #b1d04e;
  --accent-color: #548f10;
  --white: white;
  --black: black;
  --incorrect: #7c0909;

  font-family: "Gabarito";
}

* {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;
}

.dem {
  opacity: 0.4;
  font-weight: 200;
}

button {
  background-color: var(--leaf-color);
  font-size: 16px;
  padding: 8px 16px;
  color: var(--black);
  border-radius: var(--round);
  border: 0;
  outline: 0;
  box-shadow: 0 2px 0 var(--accent-color);
}

button:disabled {
  background-color: lightgray;
  color: gray;
  box-shadow: none;
  transform: translateY(2px);
}

button:hover:not(:disabled) {
  cursor: pointer;
  background-color: var(--leaf-color-dark);
}

.leaf-dark {
  fill: var(--incorrect);
  animation: blink 0.4s infinite;
}

h1 {
  font-size: 32px;
  color: var(--accent-color);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--accent-color);
  font-weight: bold;
  margin-bottom: 20px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}