.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.buttonContainer div {
  margin-bottom: 8px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main {
    display: block;
    padding-top: 25px;
  }
}

@media screen and (max-height: 1000px) {
  .main {
    display: block;
    padding-top: 25px;
  }
}